body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #74ABE2, #5563DE);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: white;
  padding: 40px;
  border-radius: 16px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 320px;
}

h2 {
  margin-bottom: 20px;
  color: #333;
}

input {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 8px;
  border: 1px solid #ccc;
  
}

button {
  background: #5563DE;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 8px;
  width: 100%;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 20px;
  margin-top: 20px;
}

button:hover {
  background: #3847C3;
}

p {
  margin-top: 10px;
  font-size: 14px;
}
